@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenir_next_rg-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/avenir_next_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir_next_rg-webfont.woff") format("woff"), url("../fonts/avenir_next_rg-webfont.ttf") format("truetype"), url("../fonts/avenir_next_rg-webfont.svg#95d90f2cd2aa64bdfee0e9f34c516e71") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Brandon';
  src: url("../fonts/brandon_bld-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld-webfont.woff") format("woff"), url("../fonts/brandon_bld-webfont.ttf") format("truetype"), url("../fonts/brandon_bld-webfont.svg#e2b4a901dc21adc8c4deecbedb302532") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
/*==== GENERAL STYLES ====*/
body {
  background: #f7f7f7;
}

.fa {
  color: #9b9fa2;
  float: left;
  margin-top: 17px;
  padding-left: 20px;
}

/*==== LEFT HAND NAVBAR ====*/
nav {
  background: #2a2d34;
  height: 100%;
  position: fixed;
}
nav .nav {
  padding: 17px 0;
}
nav .nav li {
  padding: 3px 0 3px 3px;
}
nav .nav a {
  font-family: "Avenir";
  font-size: 19px;
  color: #9B9FA2;
  padding-left: 55px;
  letter-spacing: 1;
}
nav .nav a:hover {
  background-color: transparent;
}
nav .nav li:hover {
  background: #fff;
}

.main-brand {
  background: #1b7Fbb;
  height: 80px;
  padding: 19px 0 0 23px;
  width: 280px;
}
.main-brand .brand {
  width: 170px;
}

/*==== MAIN CONTENT AREA ====*/
main {
  margin-left: 280px;
  min-width: 820px;
}
main .container-fluid {
  padding: 50px 58px;
}

.header, .subheader {
  background: #ffffff;
  border-bottom: 2px solid #E9E7E8;
}

/*==== HEADER ====*/
.header {
  height: 81px;
}
.header .btn {
  float: right;
  padding: 11px;
  font-size: 16px;
}
.header .header-container {
  padding: 15px;
  font-family: "Avenir";
  letter-spacing: 1.5;
}

.btn-cancel {
  background: #D1D1D1;
  border-bottom: 2px solid #9A9A9A;
  color: #fff;
  width: 155px;
  margin-right: 15px;
}

.btn-save {
  background: #54BD85;
  border-bottom: 2px solid #9A9A9A;
  color: #fff;
  width: 155px;
}

.breadcrumbs {
  font-size: 21px;
  float: left;
  margin: 13px 0 0 42px;
}

/*==== SUBHEADER ====*/
.subheader {
  height: 65px;
  padding: 25px;
}
.subheader li {
  display: inline-block;
  font-size: 18px;
  font-family: "Avenir";
  padding: 0 20px 10px;
  margin-right: 25px;
  text-align: center;
}
.subheader a {
  color: #AFADAE;
  text-decoration: none;
}
.subheader li:hover {
  border-bottom: 4px solid #167FC1;
}
.subheader .active {
  border-bottom: 4px solid #167FC1;
}
.subheader .active a {
  color: #227FAB;
}

/*==== PANELS ====*/
.panel {
  font-family: "Brandon";
  letter-spacing: 1.5;
  width: 745px;
}

.panel-heading {
  background: #e0e0e0;
}
.panel-heading h4 {
  color: #686868;
}

.panel-heading, .list-group-item {
  padding-left: 38px;
}

.list-group-item {
  font-size: 20px;
  height: 120px;
  padding: 20px 30px;
}

.list-group-label {
  font-family: 'Avenir';
  font-size: 16px;
  float: left;
  margin: 0;
  padding: 7px 0;
}

.choose-file {
  border-radius: 0;
  background: #f2f2f0;
  color: #a4a4a4;
  font-family: 'Avenir';
  font-size: 16px;
  float: right;
  padding: 10px;
  width: 245px;
}

/*==== BOXES FOR COLOR PANEL ====*/
.color-box {
  padding: 20px;
  float: left;
  margin-right: 25px;
}

.color-box-header {
  background: #222222;
}

.color-box-footer {
  background: #B2B2B2;
}

.color-box-background {
  background: #ffffff;
  border: 1px solid #DEDEDE;
}

.color-box-search {
  background: #FAD96E;
}

.color-box-signup {
  background: #EA4E4F;
}
